@import "mixins";

// Style your widget as you like. I have included some very simple styling here as a start.
.back-to-top {
    @include backToTop;
    background: red;
    border: 2px solid black;
    color: #fff;
    padding: 24px;
    text-align: center;
    text-decoration: none;
}