/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
//.ht {
//    border: 0;
//    clip: rect(0 0 0 0);
//    height: 1px;
//    margin: -1px;
//    overflow: hidden;
//    padding: 0;
//    position: absolute;
//    width: 1px;
//}

#back-to-top {
    background: red;
    border: 2px solid black;
    display: none;
    outline: 0;
    padding: 24px;
    position: fixed;
    top: 40px;
    right: 0px;
    text-align: center;
    text-decoration: none;
    z-index: 100;

    .glyph {
        color: red;
    }
}