@import "variables"; // Global variables

// ==========================================================================
// Global Mixins
// ==========================================================================

// back-to-top
// @params: 40px default top offset
@mixin backToTop($offset: 40px) {
    display: none;
    outline: 0;
    position: fixed;
    right: 0;
    top: $offset;
    z-index: 100;
}